<section>
  <mat-card>
    <h2>Login</h2>
    <form class="form" [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
      
      <mat-label>Email: </mat-label>
      <mat-form-field class="full-width">
        <input matInput formControlName="email" type="email" placeholder="introduce tu email" />
        <mat-error *ngIf="formulario.invalid">
            {{ controlErrores('email')}}
          </mat-error>
      </mat-form-field>

      <mat-label>Contraseña: </mat-label>
      <mat-form-field class="full-width" *ngIf="!isPasswordReset">
        <input matInput formControlName="password" type="password" placeholder="Introduce tu contraseña"/>
        <mat-error *ngIf="formulario.invalid">
            {{ controlErrores('password')}}
          </mat-error>
      </mat-form-field>

      <button class="full-width" mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">
        Login
      </button>

    </form>
  </mat-card>
</section>