.buscador{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 300px; 
}

.listado{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 80%; 
    
}

#logout{
    margin: 10px;
}

#btnBuscar{
    margin-left: 20px;
}